body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    
}

#quiz-app {
    padding: 20px;
}

#question {
    font-size: 20px;
    margin: 20px;
}

#answers button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background-color: #008CBA;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#answers button:hover {
    background-color: #005f87;
}

#feedback {
    margin-top: 20px;
    font-size: 18px;
    color: green;
}